@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">

    <h1>Добро пожаловать</h1>
    <p>📱💥Разбил телефон? Не переживай! Это не конец света, а отличная возможность обновить свой гаджет в нашем
        магазине! Загляни к нам — у нас столько классных моделей, что даже твой разбитый экран позавидует! 😉✨</p>
    <img src="/images/home.jpg" alt="Главное изображение" class="img-fluid" />

</div>


<style>
    .image {
        width: 75%;
        height: 130px;
    }

    .text {
        font-size: 20px;

    }

    a {
        text-decoration: none;
    }
</style>