@page
@model Page1Model
@{
    ViewData["Title"] = "Page 1";
}

<h1>Nokia 3110</h1>
<img src="/images/nokia3110.jpg" alt="Nokia 3110" height="20%" width="20%">
<p>3300 руб</p>
<button class="add-to-cart-btn" type="button">Добавить в корзину</button>

<style>
        .add-to-cart-btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }
</style>