@page
@model Page3Model
@{
    ViewData["Title"] = "Page 1";
}

<h1>Sony Ericsson Hazel J20</h1>
<img src="/images/sonyericssonhazelj20.jpg" alt="Sony Ericsson Hazel J20" height="20%" width="20%">
<p>3050 руб</p>
<button class="add-to-cart-btn" type="button">Добавить в корзину</button>

<style>
        .add-to-cart-btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }
</style>